@font-face {
	font-family: loosNormalMedium;
	src: url("https://github.com/hngo24/countdown_boo/blob/6891529e83cb03f1e670504eb36fc781f9a62490/LoosNormalMedium.otf");
}
body {
    margin: 0;
    font-family: "Loos Normal Medium";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #19323c;
}

.countdownSTYLE span {
    display: inline-block;
    margin: 10px;
}

.countdownSTYLE span.value {
    font-family: loosNormalMedium;
    font-size: 150px;
    color: #cacdbe;
    display: block;
	width: 275px;
	text-align: center;
}

.countdownSTYLE span.label {
    font-family: loosNormalMedium;
    font-size: 40px;
    color: #cacdbe;
    display: block;
    margin:auto;
	text-align: center;/* Adjust this value as needed to create space between the label and value */
}
